{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center  pt-5">
        <div class="row justify-content-between col-md-6">
            <div class="col-md-auto align-self-center pl-0">
                <h1 class="h3 font-weight-normal align-self-center">Log in</h1>
            </div>
            <div class="col-md-auto align-self-center ">
                <a href="{{ path('app.register') }}">Register</a>
            </div>
        </div>
    </div>

    <div class="row justify-content-center ">
        <form method="post" class=" login-form-wrapper col-md-6 mt-4 pt-5 pb-3">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are already logged in as user: {{ app.user.username }},
                    <br/>
                    <a href="{{ path('app.logout') }}" class="btn btn-lg btn-primary mt-3 mb-3">Log out</a>
                </div>
            {% endif %}
            <label for="inputEmail">E-mail</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <button class="btn btn-lg btn-primary mt-3 mb-3" type="submit">
                Log in
            </button>
        </form>
    </div>
</div>
{% endblock %}
