
{% extends 'base.html.twig' %}

{% block body %}
    {% include 'profile-expert/navigation.html.twig' %}
    <div class="container">

        <div class="row flex-column flex-sm-row mt-4">
            <div class="col-md-3">
                {% include('product/left-panel.html.twig') %}
            </div>
            <div class="col-md-9">
                <h1 class="pb-3">Product adding</h1>

                <div class="col-sm-12 pb-4">
                    {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.brand) }}
                    {{ form_row(form.type) }}
                    <a>If there is no necessary product type, please, <a style="display: inline;"
                                                                        href="{{ path('expert.product.type.create') }}">add one</a>
                    {{ form_row(form.tags) }}
                        <a>If there is no necessary product tag, please, <a style="display: inline;" href="{{ path('expert.product.tag.create') }}">add one</a>
                    {{ form_row(form.price) }}
                    {{ form_row(form.country) }}
                    {{ form_row(form.photo) }}
                    {{ form_end(form) }}
                </div>

                {% include('flashes.html.twig') %}
            </div>
        </div>
    </div>

{% endblock %}