{% extends 'base.html.twig' %}

{% block body %}
    {% include('profile-expert/navigation.html.twig') %}

    <div class="container">

        <div class="row flex-column flex-sm-row mt-4">
            <div class="col-md-3">
                {% include('product/left-panel.html.twig') %}
            </div>
            <div class="col-md-9">
                <h2 class="pt-4 pb-4">
                    <a data-toggle="collapse"  aria-expanded="true" aria-controls="productForm">
                        Product editing
                    </a>
                </h2>
                <div class="collapse show" id="productForm">
                    <div class="shadow-sm p-3 mb-5 bg-white rounded">
                        {{ form_start(form) }}
                        {{ form_row(form.name) }}
                        {{ form_row(form.brand) }}
                        {{ form_row(form.type) }}
                        <a>If there is no necessary product type, please,
                            <a style="display: inline;" href="{{ path('expert.product.type.create') }}">add one</a>
                        </a>
                        {{ form_row(form.tags) }}
                        <a>If there is no necessary product tag, please,
                            <a style="display: inline;" href="{{ path('expert.product.tag.create') }}">add one</a>
                        </a>
                        {{ form_row(form.price) }}
                        {{ form_row(form.country) }}
                        {{ form_row(form.photo) }}
                        {{ form_end(form) }}
                    </div>
                </div>
                {% include('flashes.html.twig') %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}