{% extends 'base.html.twig' %}

{% block body %}

    {% include('profile-expert/navigation.html.twig') %}
    <div class="container">
        <div class="row flex-column flex-sm-row mt-4">
            <div class="col-md-3">
                {% include('routine/left-panel.html.twig') %}
            </div>
            <div class="col-md-9">
                <h2 class="pt-4 pb-4">
                    <a data-toggle="collapse" href="#routineForm" aria-expanded="true" aria-controls="routineForm">
                        Program type editing
                    </a>
                </h2>
                <div class="collapse show" id="routineForm">
                    <div class="shadow-sm p-3 mb-5 bg-white rounded">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <div class="form-group">
                            <label class="required" for="routine_form_type">Number of days in program: </label>
                            <input class="order-value" type="text" name="routine_form[cycle]" value="{{ routine.getRoutineDays.count }}" disabled>
                        </div>
                        <button type="submit" class="btn-primary btn">Save</button>
                        {{ form_end(form) }}

                        <div class="status-block mt-3 mb-3">
                            {%  if routine.status == 'disabled' %}
                                <button class="btn btn-act" onclick="activateRoutine('{{ path('expert.routine.activate', {id: routine.id}) }}', {{ routine.id }})">Activate</button>
                            {% endif %}
                            {%  if routine.status == 'active' %}
                                <button class="btn btn-deact" onclick="deactivateRoutine('{{ path('expert.routine.deactivate', {id: routine.id}) }}', {{ routine.id }})">Disable</button>
                            {% endif %}
                        </div>

                    </div>
                </div>

                {% include('flashes.html.twig') %}

                <a href="{{ path('expert.day.routine.create', {id : routine.id}) }}" class="btn btn-primary">Day adding</a>

                <h2 class="pt-4 pb-4">
                    <a data-toggle="collapse" href="#listDayForm" aria-expanded="true" aria-controls="listDayForm">
                        List of days
                    </a>
                </h2>
                <div class="collapse show" id="listDayForm">
                    <div class="">
                        <table  class="table">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Id</th>
                                <th scope="col">Day of routine</th>
                                <th scope="col">Recommendations</th>
                                <th scope="col">Count of products</th>
                                <th scope="col">Edit</th>
{#                                <th scope="col">Delete</th>#}
                            </tr>
                            {% for day in routine.getRoutineDays %}
                                <tr>
                                    <th scope="col">{{loop.index}}</th>
                                    <td>{{ day.id }}</td>
                                    <td>{{ day.getDayOrder }}</td>
                                    <td>{{ day.getRecommends }}</td>
                                    <td>{{ day.getProducts|length }}</td>
                                    <td class="day-{{loop.index}}">
                                        <a href="{{ path('expert.routine.day.edit', {id: routine.id, dayId: day.id})}}" class="btn btn-primary">Edit</a></td>
{#                                    <td class="day-{{loop.index}}">#}
{#                                        <button class="btn btn-primary" onclick='deleteDay("{{ path('expert.routine.day.delete', {id: routine.id, dayId: day.id})}}", {{loop.index}})' class="delete-day">Delete</button></td>#}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}