{% extends 'base.html.twig' %}

{% block body %}

    {% include('profile-expert/navigation.html.twig') %}
<div class="container">

    <div class="row flex-column flex-sm-row mt-4">
        <div class="col-md-3">
            {% include('routine/left-panel.html.twig') %}
        </div>
        <div class="col-md-9">

            <div class="search-panel pb-5 container">
                <form action="{{ path('expert.routine.day.list.product', {id: day.routine.id, dayId: day.id}) }}" method="get" class="form-inline">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="type" class="pr-3">Type</label>
                        <select class="form-control" id="type" name="type" >
                            <option {% if not (app.request.get('type')) %} selected {% endif %}>Any</option>
                            {% for type in types %}
                                <option {% if (app.request.get('type') == type.id) %} selected {% endif %} value="{{ type.id }}">{{ type.type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="text" name="name" id="name" placeholder="Name of product or brand" {% if app.request.get('name') %} value="{{ app.request.get('name') }}" {% endif %}>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Search</button>
                </form>
            </div>

            <a href="{{ path('expert.routine.day.edit', {id: day.routine.id, dayId: day.id}) }}" class="btn mb-3">Back to day</a>

            {% include('flashes.html.twig') %}

            <table  class="table">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Price</th>
                    <th scope="col">Type</th>
                    <th scope="col">Add</th>
                </tr>
                {% for product in products %}
                    <tr>
                        <th scope="col">{{loop.index}}</th>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.brand }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.type.type }}</td>
                        <td>
                            {% if product in day.getProducts %}
                                already added
                            {% else %}
                                <a href="{{ path('expert.routine.day.add.product', {id: day.routine.id, dayId: day.id, prodId: product.id}) }}">Add</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>


        </div>
    </div>
</div>
{% endblock %}