{% extends 'base.html.twig' %}

{% block body %}
    {% include('profile/navigation.html.twig') %}

    <div class="container">
        <div class="row flex-column flex-sm-row mt-4">
            <div class="col-md-12">

                <h4 class="pb-4">Number of days: {{ routine.getRoutineUserDays.count }}</h4>

                <div class="card-deck">
                    {% for day in routine.getRoutineUserDays %}
                        <div class="col-sm-4 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Day order: {{ day.routineDay.dayOrder }}</h5>
                                    <p class="card-text">Recommendations: {{ day.routineDay.recommends }}</p>

                                    {% for product in day.routineDay.getProducts %}
                                        {% if product.photo %}
                                            <div class="row no-gutters mt-2">
                                                <div class="col-md-4">
                                                    {% if product.photo %}
                                                        <img src="{{ asset(product.photo) }}" class="card-img" alt="">
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="pl-1">
                                                        <p class="card-text">Product: <a href="{{ path('profile.product.show', {id: product.id}) }}">{{ product.name }}</a></p>
{#                                                        <p class="card-text">Brand: {{ product.brand }}</p>#}
                                                    </div>
                                                </div>
                                            </div>
                                            <hr/>
                                        {% else %}
                                            <p class="card-text">Name: {{ product.name }}</p>
                                            <p class="card-text">Brand: {{ product.brand }}</p>
                                            <hr/>
                                        {% endif %}
                                    {% endfor %}

                                    {% if day.getIsCompleted %}
                                        <p class="card-text">Date completed: {{ day.dateCompleted|date("d/m/Y") }}</p>
                                    {% endif %}
                                    <p class="card-text"></p>
                                </div>

                                <div class="card-footer card-footer-{{ day.id }}">
                                    {% if day.getIsCompleted%}
                                        <span class="badge badge-secondary">Completed</span>
                                    {% elseif (routine.daysCompleted + 1) == loop.index %}
                                        <button onclick="completeDay('{{ path('user.routine.day.complete', {id: routine.id, dayId: day.id}) }}', {{ day.id }})" class="btn btn-primary btn-{{ day.id }}">Complete</button>
                                    {% endif %}

{#                                    <a href="{{ path('user.routine.day.edit', {id: routine.id, dayId: day.id}) }}" class="btn btn-primary">Edit</a>#}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}