{% extends 'base.html.twig' %}

{% block body %}
    
    {% include('profile/navigation.html.twig') %}

    <div class="container">
        <div class="row flex-column flex-sm-row mt-4">

            <div class="col-md-12">
                <h1 class="pb-4">My programs</h1>

                <div class="search-panel pb-5">
                    <form action="{{ path('user.sub.routine.show') }}" method="get" class="form-inline">
                        <div class="form-group mx-sm-3 mb-2">
                            <input type="text" class="form-control" name="expert" id="findExpert" placeholder="Name of expert"
                                    {% if (app.request.get('expert')) %} value="{{ app.request.get('expert') }}" {% endif %}>
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="type" class="pr-3">Type of care</label>
                            <select class="form-control" id="type" name="type" >
                                <option {% if not (app.request.get('expert')) %} selected {% endif %}>Any</option>
                                {% for type in types %}
                                    <option value="{{ type.id }}" {% if type.id == app.request.get('type') %} selected {% endif %}>{{ type.type }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Search</button>
                    </form>
                </div>
                <h4 class="pb-4">Number of programs: {{ routines.getTotalItemCount }}</h4>

                {% include('flashes.html.twig') %}

                <div class="card-deck">
                    {% for routine in routines %}
                        <div class="col-sm-4 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    {% if routine.getParentRoutine.photo %}
                                        <img src="{{ asset(routine.getParentRoutine.photo)}}" class="card-img-top" alt="...">
                                    {% endif %}
                                    <h5 class="card-title">{{ routine.user.name }}</h5>
                                    <p class="card-text">Number of days in routine: {{ routine.getParentRoutine.getRoutineDays.count }}</p>
                                    <p class="card-text">Expert: {{ routine.getParentRoutine.user.name }}</p>
                                    <p class="card-text">Type: {{ routine.getParentRoutine.type.type }}</p>
                                    {% if routine.lastCompletedDate %}
                                        <p class="card-text">Last completed date: {{ routine.lastCompletedDate }}</p>
                                    {% endif %}
                                    {% if routine.daysCompleted %}
                                        <p class="card-text">Days completed: {{ routine.daysCompleted }}</p>
                                    {% endif %}
                                </div>
                                <div class="card-footer routine-sub-{{ routine.id }}">
                                    <a href="{{ path('user.sub.routine.show.one', {id: routine.id}) }}" class="btn btn-primary mb-2">Show</a>
                                    <br/>
                                    <button onclick="unsubRoutine('{{ path('user.unsub.routine', {id: routine.id}) }}', {{ routine.id }})" class="btn">Unsubscribe</button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {{ knp_pagination_render(routines) }}
            </div>
        </div>
    </div>
{% endblock %}