<h4>Full experts number: ({{ experts.getTotalItemCount }})</h4>
<table  class="table table-responsive-sm pt-3">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Status</th>
        <th scope="col">Certificate</th>
        <th scope="col">Edit</th>
{#        <th scope="col">Delete</th>#}
    </tr>
    {% for expert in experts %}
        <tr>
            <th scope="row">
                {{ loop.index }}
            </th>
            <td>
                {{ expert.id }}
            </td>
            <td>
                {{ expert.name }}
            </td>
            <td>
                {{ expert.email }}
            </td>
            <td>
                {% if not expert.isValid %}
                    <span class="badge badge-danger invalid{{ expert.id }}"> has not been verified </span>
                {% endif %}
                <br/>
                {% if not expert.isApproved %}
                    <span class="badge badge-danger invalid{{ expert.id }}"> has not been approved </span>
                {% endif %}
            </td>
            <td class="exist-{{ expert.id }}">
                {% if  expert.getUserCertificates.get(0) %}
                <a href="{{ asset(expert.getUserCertificates.get(0).certificate) }}" class="btn">Certificate</a>
                {% endif %}
            </td>
            <td class="exist-{{ expert.id }}">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseCard{{ expert.id }}" aria-expanded="false" aria-controls="collapseCard{{ expert.id }}">
                    Edit
                </button>
            </td>
{#            <td class="exist-{{ expert.id }}">#}
{#                <button onclick="deleteFromTable('{{ path('admin.experts.delete', {id: expert.id}) }}', {{ expert.id }})" class="btn btn-primary">Delete</button>#}
{#            </td>#}
        </tr>
        <tr>
            <td colspan="8">
                <div class="collapse" id="collapseCard{{ expert.id }}">
                    <div class="card card-body">
{#                        {% if not expert.isValid %}#}
{#                            <button onclick="validExpert({{ expert.id }})" class="btn">Verify expert</button>#}
{#                        {% endif %}#}
                        {%if not expert.isApproved %}
                            <button onclick="validExpert('{{ path('admin.experts.validation',  {id: expert.id}) }}', {{ expert.id }})" class="btn">Approve expert</button>
                        {% endif %}
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
</table>
{{ knp_pagination_render(experts) }}