<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-brand" >Private profile</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('profile.expert') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('expert.routine') }}">Routines</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('expert.product') }}">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('expert.product.type.create') }}">Product type</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('expert.product.tag.create') }}">Product tag</a>
            </li>
        </ul>
    </div>
    <div class="col-md-auto align-self-center ">
        <a href="{{ path('profile.expert.edit') }}">Edit</a>
    </div>
    <div class="col-md-auto align-self-center ">
        <a href="{{ path('app.logout') }}">Log out</a>
    </div>
</nav>
